:root {
  --raspberry: rgb(165,0,52);
  --raspberry-min: rgb(165,0,52,3%);
  --raspberry-mid: rgb(165,0,52,20%);
  --yellow: #FFB81C;
  --yellow-min: #FFB81C05;
  --yellow-mid: #FFB81C20;
  --darkGreen: #009B77;
  --darkGreen-min: #009B7710;
  --darkGreen-mid: #009B7725;
  --blue: #0076C2;
  --blue-min: #0076C210;
  --blue-mid: #0076C225;
  --black: var(--pst-color-text-base);
  --black-min: #56565605;
  --black-mid: #56565625;
  --orange: #EC6842;
  --orange-min: #EC684210;
  --orange-mid: #EC684225;
  --cyan: #00A6D6;
  --gray: #7d7d7d;
  --gray-min: #7d7d7d05;
  --gray-mid: #7d7d7d20;
  --purple: #6f1d77;
  --purple-min: #6f1d7705;
  --purple-mid: #6f1d7720;
  --pink: #EF60A3;
  --pink-min: #EF60A310;
  --pink-mid: #EF60A325;
  --red: #E03C31;
  --red-min: #E03C3110;
  --red-mid: #E03C3125;
  --green: #6CC24A;
  --green-min: #6CC24A10;
  --green-mid: #6CC24A25;
}
p {
    text-align: justify;
}

.admonition.sidebar {
    width: 250px;
}

div.example {
  border-color: var(--yellow);

  background-color: var(--yellow-min);
}
div.example > p.admonition-title {
  background-color: var(--yellow-mid);
}
div.example p.admonition-title::after {
  content: "\f002";
  transform: scale(-1, 1);
  color: var(--yellow);
}
